[galleryform]
==
<div class="gallery__title">
  <p>галерея</p>
  <hr />
</div>
<div class="gallery__toogle">
    {% for cat in gallery %}
        <span id="galleryToogle{{ loop.index }}">{{ cat.title }}</span>
    {% endfor %}
</div>
<div class="gallery__slider">
    {% for cat in gallery %}
  <div class="slider gallerySlider gallerySlider{{ loop.index }}">
      {% for event in cat.events %}
    <div>
        <div class="gallery_slide" id='slide_{{ loop.index }}' time='{{ event.date }}' ev_title='{{ event.title }}'>
            <img class="gB1" src="{{ event.event_photos[0].thumb(600, 900, {mode:'auto', quality:85}) }}" alt="" />
            <img class="gM1" src="{{ event.event_photos[1].thumb(600, 900, {mode:'auto', quality:85}) }}" alt="" />
            <img class="gM2" src="{{ event.event_photos[2].thumb(600, 900, {mode:'auto', quality:85}) }}" alt="" />
            <img class="gM3" src="{{ event.event_photos[3].thumb(600, 900, {mode:'auto', quality:85}) }}" alt="" />
            <img class="gM4" src="{{ event.event_photos[4].thumb(600, 900, {mode:'auto', quality:85}) }}" alt="" />
            <img class="gM5" src="{{ event.event_photos[5].thumb(600, 900, {mode:'auto', quality:85}) }}" alt="" />
            <img class="gB2" src="{{ event.event_photos[6].thumb(600, 900, {mode:'auto', quality:85}) }}" alt="" />
        </div>
    </div>
      {% endfor %}
  </div>
  {% endfor %}
  <div class="gallarySlider__bottom">
      <p id="gb__date">{{ gallery[0].events[0].date }}</p> - <p id="gb__title">“{{ gallery[0].events[0].title }}”</p>
  </div>
</div>

<div class="gallery__slider gallery__slider_mobil">

    {% for cat in gallery %}
        <div class="slider gallerySlider gallerySlider__mobil gallerySlider__mobil{{ loop.index }}">
            {% for event in cat.events %}

                {% for img in event.event_photos %}
                    <div>
                        <img class="gB1" src="{{ img.thumb(600, 900, {mode:'auto', quality:85}) }}" time="{{ event.date }}" title="{{ event.title }}" alt="" />
                    </div>
                {% endfor %}

            {% endfor %}
        </div>
    {% endfor %}

  <div class="gallarySlider__bottom">
      <p id="gb__date_mobile">{{ gallery[0].events[0].date }}</p> - <p id="gb__title_mobile">“{{ gallery[0].events[0].title }}”</p>
  </div>
</div>

<img src="{{ 'assets/img/gallery_bottom.svg' | theme }}" alt="" class="gallery__bg__bottom" />
<img src="{{ 'assets/img/gallery_topLeft.svg' | theme }}" alt="" class="gallery__bg__tioRight" />